* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */

header {
    background: linear-gradient(to right, #0f172a, #1e3a8a);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* BOTÃO */

.btn {
    background-color: #2563eb;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}

/* SEÇÕES */

section {
    padding: 60px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a8a;
}

/* SOBRE */

.sobre p {
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.cards-conteudo {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-info {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card-info ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* INTEGRANTES */

.cards-alunos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-aluno {
    background: white;
    width: 300px;
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-aluno:hover {
    transform: translateY(-5px);
}

.card-aluno img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-aluno h3 {
    margin-bottom: 10px;
}

.card-aluno p {
    margin-bottom: 20px;
}

/* CURIOSIDADES */

.curiosidades ul {
    max-width: 700px;
    margin: auto;
    list-style: square;
    padding-left: 20px;
}

/* FOOTER */

footer {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    .cards-conteudo,
    .cards-alunos {
        flex-direction: column;
        align-items: center;
    }

}

/* IMAGEM PRINCIPAL */

.imagem-curso{
    width: 100%;
    max-width: 1000px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 30px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* IMAGEM DOS CARDS */

.card-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

